<h1> all posts here </h1>


<table class="table table-bordered">

    <tr>


        <th>NAME </th>
        <th>DATE </th>
        <th>BODY </th>
        <th>RATE</th>
        <th>TOTAL </th>
        <th>Kharcha </th>
        <th>ADVANCED </th>
        <th>PREVIOUS BALANCE </th>
    </tr>
    {{#each posts}}
    <tr>


        <td>{{name}} </td>
        <td>{{date}} </td>
        <td> {{body}}</td>
        <td>{{rate}}</td>
        <td> {{total}} </td>
        <td>{{kharcha}}</td>
        <td>{{advanced}}</td>
        <td>{{p}}</td>
        <td>
            <a href="/admin/posts/edit/{{id}}" class='btn btn-info'> edit</a>
        </td>
        <td>
            <form action="/admin/posts/{{id}}?_method=delete" method="post">
                <button type="submit" class="btn btn-danger">delete</button>
            </form>

        </td>
        {{/each}}
    </tr>
</table>